.container {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: auto;
}

.challenge-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}

.challenge-title {
  font-size: 2.5rem;
  color: #c10000;
  font-weight: bold;
  font-family: fantasy;
  margin-bottom: 20px;
}

.watch-video-btn {
  background-color: #e53935;
  color: white;
  padding: 12px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: fantasy;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.watch-video-btn:hover {
  background-color: #d32f2f;
}

.content-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.main-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.app-buttons img {
  width: 200px;
  margin: 10px;
}

.campaign-signup {
  margin-top: 20px;
}

.search-campaign {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

.loading,
.error,
.no-results {
  font-size: 1.2rem;
  color: #ff6347;
  margin-top: 20px;
}

.campaign-list {
  list-style: none;
  padding: 0;
}

.campaign-item {
  display: flex;
  align-items: center;
  background: #e8e8e8;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.school-logo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.school-info {
  flex-grow: 1;
}

.school-name {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.school-location {
  color: #666;
}

.challenge-question {
  color: #c10000;
  font-family: serif;
  font-size: 2rem;
  margin-bottom: 25px;
}

.download-text {
  font-weight: 800;
}

.text-with-lines {
  display: flex;
  align-items: center;
  text-align: center;
}

.text-with-lines::before,
.text-with-lines::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
  margin: 0 20px;
  width: 50px;
}

.text-with-lines::before {
  margin-right: 15px;
}

.text-with-lines::after {
  margin-left: 15px;
}

.join-campaign {
  background-color: white;
  border: 2px solid #c10000;
  color: #c10000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.join-campaign:hover {
  background-color: #c10000;
  color: white;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .join-campaign {
    width: 50%;
    font-size: 15px;
    font-weight: 800;
  }
}

@media (min-width: 1024px) {
  .join-campaign {
    width: 30%;
    font-size: 15px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  .challenge-info {
    flex-direction: row;
  }

  .challenge-title {
    font-size: 3rem;
    margin-right: 30px;
  }

  .watch-video-btn {
    font-size: 1.5rem;
    padding: 15px 30px;
  }

  .campaign-item {
    max-width: 600px;
  }

  .school-logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .challenge-title {
    font-size: 2rem;
  }

  .main-image {
    width: 90%;
  }

  .app-buttons img {
    width: 100px;
  }
}
